
{% extends "layouts.html" %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block body %}
<body>
    <!-- <ul>
        {% for x in data %}
          <li>ID : {{x['id']}}</li>
          <li>a : {{x['title']}}</li>
          <li>b : {{x['desc']}}</li>
          <li>c : {{x['author']}}</li>
          <li>d : {{x['create_at']}}</li>         
        {% endfor %}
    </ul> -->

    <!-- <thead>
        {% for x in data %}
          <td>ID : {{x['id']}}</td>
          <td>a : {{x['title']}}</td>
          <td>b : {{x['desc']}}</td>
          <td>c : {{x['author']}}</td>
          <td>d : {{x['create_at']}}</td>         
        {% endfor %}
    </thead> -->


    <table border = "1" align = "center">

    {% for x in data %}
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Author</th>
        <th>Time</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr align = "center">
            <td>{{ x['id'] }}</td>
            <td>{{ x['title'] }}</td>
            <td>{{ x['desc'] }}</td>
            <td>{{ x['author'] }}</td>
            <td>{{ x['create_at'] }}</td>
            <td><a href="/edit/{{ x['id'] }}"><button class="btn bg-primary">편집</button></a></td>
            <td><a href="/delete/{{ x['id'] }}"><button class="btn bg-danger" onclick="return confirm_func()">삭제</button></a></td>
        </tr>
                
        <br><br>

    {% endfor %}
</table>

<script>
    function confirm_func(){
        result = confirm('정말 삭제 하시겠습니까?')
        console.log(result)
        return result
    }

</script>
{% endblock %}