{% extends "layouts.html" %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block body %}

<!-- Begin Page Content -->
<div class="container">
    <div class="container-fluid">
    
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">게시판<a href="/create_list" ><button type="button" class="btn btn-success">게시글 작성</button></a></h1>
        
        <p class="mb-4">Are you hungry? <a target="_blank"
                href="https://datatables.net">this data is important</a>.</p>
    
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Author</th>
                                <th>Date</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Author</th>
                                <th>Date</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for x in data %}
                            <tr>
                                <td>{{ x[0] }}</td>
                                <td>{{ x[1] }}</td>
                                <td>{{ x[2] }}</td>
                                <td>{{ x[3] }}</td>
                                <td>{{ x[4] }}</td>
                                <td><a href="/edit/{{ x[0] }}"><button class="btn bg-primary">편집</button></a></td>
                                <td><a href="/delete/{{ x[0] }}"><button class="btn bg-danger" onclick="return confirm_func()">삭제</button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>
</div>

<body>   


                
        <br><br>

    
</table>


<script>
    function confirm_func(){
        result = confirm('정말 삭제 하시겠습니까?')
        console.log(result)
        return result
    }

</script>
{% endblock %}